<section class="header-section" id="headerSection">
    <div class="content-container header-container">
        <div class="header-left">
            <img src="./assets/images/header-icon.png">
            <h1>NISHANT K</h1>
        </div>
        <div class="header-right">
            <!-- <a *ngFor="let link of headerOptions">{{link.label}}</a> -->
            <a href='https://www.linkedin.com/in/nishant-kaushik-97023b7b/' target="_blank" rel="noreferrer"><img
                    src="./assets/images/linkedin-icon.png" class="linkedin-icon"></a>
        </div>
    </div>
</section>