.underscore{
    border-bottom: 2px solid;
    border-color: var(--border_color);
    display: inline-block;
  }


  .projects-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 10px;
  }

  .mat-mdc-card{
    background-color: white;
  }

  .mat-mdc-card-subtitle{
    color:red;
  }