/* You can add global styles to this file, and also import other style files */

html, body { }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.content-container{
    max-width: 1200px;
    margin: auto;
    padding:30px 10px;
}


:root{
    --font_family:sans-serif;
    --border_color:red;
    --border_radius:5px;
    --default_padding:10px;
    --default_margin:10px;
  }

.margin-top-30{
    margin-top: 30px;
}